# Ultralytics requirements
# Example: pip install -r requirements.txt

# Base ----------------------------------------
opencv-python-headless
cvzone
ultralytics
streamlit
matplotlib
numpy
lap
scipy
cython


